---
import type { AuthorFrontmatter } from "@schema/author";
import DiscordIcon from "~icons/mdi/discord";
import GithubIcon from "~icons/mdi/github";
import LinkedinIcon from "~icons/mdi/linkedin";
import RedditIcon from "~icons/mdi/reddit";
import TwitterIcon from "~icons/mdi/twitter-circle";
import HackTheBoxIcon from "~icons/simple-icons/hackthebox";
import NewTabA from "./NewTabA.astro";

export type Props = {
  author: AuthorFrontmatter;
};

const { author } = Astro.props;
---

<div class="my-auto flex">
  {
    author.github && (
      <NewTabA href={author.github}>
        <GithubIcon />
      </NewTabA>
    )
  }
  {
    author.twitter && (
      <NewTabA href={author.twitter}>
        <TwitterIcon />
      </NewTabA>
    )
  }
  {
    author.reddit && (
      <NewTabA href={author.reddit}>
        <RedditIcon />
      </NewTabA>
    )
  }
  {
    author.discord && (
      <NewTabA href={author.discord}>
        <DiscordIcon />
      </NewTabA>
    )
  }
  {
    author.linkedin && (
      <NewTabA href={author.linkedin}>
        <LinkedinIcon />
      </NewTabA>
    )
  }
  {
    author.hackthebox && (
      <NewTabA href={author.hackthebox}>
        <HackTheBoxIcon />
      </NewTabA>
    )
  }
</div>
